<!DOCTYPE html>
{% extends "dy_html/main_base.html" %}
{% load static %}


{% block body_0  %} 


<main class=""  >
 <div  class="hero_box" style="position: relative;" >
    <div class="" style="position:absolute;left: 680px;top: 500px;">
        <div class="font_g_04" style="font-size:45px;" >Welcome to our team!</div>
        <div class="font_g_04" style="font-size:35px;">(저희팀에 오신걸 환영 합니다!)</div>
              
    </div>
 </div>
</main>


<section class=" " style="margin-top: 50px;margin-bottom: 25px;" >
        <div class="row"  >
                <div class="col-md-1">
                 </div>
                <div class="col-md-2  w3-display-container" >
                <div class=" w3-display-middle" style="width: 240px;">
                   <h1 class="" style="font-weight: bold;" > 비전(Vision) </h1>
                     <span class="font_g_03" style="font-size: 24px;"> 
                        <i class="fas fa-biking"></i> &nbsp;나아가야 할 방향</span> 
                    </div>
                 </div>
        
                <div class="col-md-5 w3-display-container  " style="width:700px;">
                     <h2 class="font_g_03 w3-display-left" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        누구나 편리하게 자동화를 누릴수 있어야 한다<br>
                       <span class="font_g_03" style="font-size: 26px;color:orangered;"> 
                         "자동화에 어려움이 발생시 옆에 있는<br> 친구가 진정한 친구다"</span>   
             
                    </h2>
                        
                   
                 </div>
                     

                <div class="col-md-2">
                        <img style="height: 250px;width:250px;" src="{% static 'dy_css/img/vision.jpg' %}" alt="">
                </div>

                <div class="col-md-2">
                        <img style="height: 250px;width:250px;" src="{% static 'dy_css/img/vision2.jpg' %}" alt="">
                </div>

    </section>


<div style="background-color: aquamarine;height: 50px;">

</div>
    
<section class="" >
            <div class="row text-center " style="margin-top: 25px;padding-bottom: 25px;" >
                  <div class="text-center" style="padding-bottom: 25px;">
                    <h1 class="section-heading text-uppercase " style="font-weight: bold;">Services</h1>
                    <h3 class="section-subheading text-muted" style="font-weight: bold;"> 지원 사업</h3>
                   </div>
                   
                   <div class="col-md-2">
                        <img src="{% static 'dy_css/img/mp_01.jpg' %} ">
                    </div>

                    <div class="col-md-2">
                        <img src="{% static 'dy_css/img/PLC_01.jpg' %} ">
                    </div>

                    <div class="col-md-2">
                        <img src="{% static 'dy_css/img/HMI_01.jpg' %} ">
                    </div>

                    <div class="col-md-2">
                       <img src="{% static 'dy_css/img/pan_01.jpg' %} ">
                    </div>

                    <div class="col-md-2">
                     <img src="{% static 'dy_css/img/pan_04.jpg' %} ">
                    </div>

                    <div class="col-md-2">
                     <img src="{% static 'dy_css/img/pan_02.jpg' %} ">
                    </div>
            </div>
           
    </section>  



 </div>
    <section class="" >
             <div class="row">
                <div class="row text-center  " >
                   <div class="col-md-2 ">
                        <h4 class="serv_fort" >다기능 자동 모듈 시스템 </h4>
                        <p class="font_s_18" >
                            범용적 프로그램을 누구나 편리하게 <br> 사용할수 있도록 만든 제품</p>
                        <p style="text-align: left;" class="font_s_18" > 
                            &nbsp;&nbsp;- CCTV 2대 내장<br>
                             &nbsp;&nbsp;- 전류 2상 모니터 <br>
                             &nbsp;&nbsp;- 계측 입력 컨버터 내장(입력4ch) <br>
                             &nbsp;&nbsp;- 마그넷트 내장(출력4ch) <br>
                             &nbsp;&nbsp;- 파워써플라이 및 컨버터 이중화 <br>

                            &nbsp;<button class="w3-button w3-sand w3-border w3-round-large"><a href="https://blog.naver.com/asdf840325" target="_blank">자세히 알고파 ->>블로그 이동</a></button>
                            
                           <br>
                        </p>
                     
                    </div>

                    <div class="col-md-2">
                        <h4 class="serv_fort">P.L.C</h4>
                        <p class="font_s_18">산업 현장에서 직접 기계와 센서들의 공정을 제어 감시하기 위해 사용하는 <BR>'산업용 컴퓨터'입니다.  </p>
                           <p style="text-align: left;" class="font_s_18" > 
                             &nbsp;&nbsp;- LS XGT <br>
                           </p>
                    </div>

                    <div class="col-md-2">
                        <h4 class="serv_fort">H.M.I</h4>
                        <p class="font_s_18">
                        일반적 사용자가 기계와 센서들을 <br>모니터링하고 제어할수 있도록 연결된 P.L.C 언어를 그림으로 연결 한다는 뜻</p>
                        <p style="text-align: left;" class="font_s_18" > 
                                &nbsp;&nbsp;- 관제 시스템<br>
                                &nbsp;&nbsp;- 터치 시스템 <br>
                                &nbsp;&nbsp;- 대시보드 <br>
                        </p>
                    </div>

                    <div class="col-md-2">
                        <h4 class="serv_fort">제어반(컨트럴 판넬)</h4>
                        <p class="font_s_18"> 전기 장치와 제어 기기를 한곳에 <BR>모아둔 전기함입니다</p>
                    </div>
                       <div class="col-md-2">
                        <h4 class="serv_fort">관급 자동화 설계</h4>
                        <p class="font_s_18">기계, 전기, 소프트웨어 기술을 관급<BR> 설계및 관급 내역 작업으로 객관적 공종및 금액 산출을 기획·구축하는 과정입니다</p>
                          <p style="text-align: left;" class="font_s_18" > 
                                &nbsp;&nbsp;- 도면 <br>
                                &nbsp;&nbsp;- 내역서 <br>
                                &nbsp;&nbsp;- 지침서(시방서) <br>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <h4 class="serv_fort">시스템 변경(개축)</h4>
                        <p class="font_s_18">다년간 경험으로 산업 현장의 신설 및 시스템 변경(개축,보수) 성공 했습니다 </p>
                </div>
            </div>
           
    </section>   
    
      



     






{% endblock %}  

{% block body_1 %}  
{% endblock %} 









  
